:root {
  --primary: #5933eb;
  --black: #1b1b1b;
  --gray: #676767;
  --white: #ffffff;
  --bg-light: #d3d5e4;
  --bg-footer: #201a30;
  --footer-content-color: #ffffff;
  --box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.13);
}
